*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Factorial/nbproject/private/
/Factorial/build/
Factorial/build.xml
*.mf
Factorial/nbproject/build-impl.xml
*.properties
Factorial/nbproject/project.xml
/Suma/nbproject/private/
/Suma/build/
*.xml
/MCD/nbproject/private/
/MCD/build/
/EsPrimo/nbproject/private/
/EsPrimo/build/
/Invertir/nbproject/private/
/Invertir/build/
/4enRaya/nbproject/private/
/4enRaya/build/
/4enFila/nbproject/private/
/4enFila/build/
/CuatroRaya/nbproject/private/
/CuatroRaya/build/
/Mochila/nbproject/private/
/Mochila/build/
/NeedlemanWunsch/nbproject/private/
/NeedlemanWunsch/build/
/SmithWaterman/nbproject/private/
/SmithWaterman/build/